[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
numpy = "*"
openweathermapy = "*"
requests = "*"
git+git://github.com/ejw-data/reverse_geocode.git = "*"
sklearn = "*"
joblib = "*"
pandas = "*"
datetime = "*"

[requires]
python_version = "3.7"
